*, *::before, *::after {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', 'Arial', sans-serif;
	background-color: #849d8f;
}
img {
	max-width: 100%;
	display: block;
}
.buttons {
	border-radius: 20px;
	color: #fefefe;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	background: linear-gradient(to bottom, #e74a35, #f26843);
	box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
	padding: 10px 25px;
	border: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.74);
	cursor: pointer;
}
.buttons:hover {
	background: linear-gradient(to bottom, #f58669, #ec6f5e);
}
.buttons:active {
	background: linear-gradient(to bottom, #d74632, #e1613e);
	box-shadow: inset 0 2px 2px 0 rgba(148, 39, 24, 1);
}
a.buttons{
	text-decoration: none;
}
.link-undeline {
	border-bottom: 1px solid #b0c0b7;
	padding-bottom: 1px;
}
.input-container {
	position: relative;
}
.text-input {
	border: 1px solid #d3d3d2;
	border-radius: 5px;
	padding: 10px 0px 10px 14px;
	color: #323232;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
}
.text-input:hover {
	border: 2px solid #c7c6c5;
	padding: 10px 0px 10px 13px;
}
.text-input:focus {
	border: 2px solid #8fbdec;
}
.text-input + label {
	display: none;
}
.text-input:focus + label {
	display: block;
	position: absolute;
	top: -15px; 
	left: 16px;
	color: #5b9ddf;
	font-size: 11px;
	line-height: 13px;
}
.text-input::-webkit-input-placeholder {
	color: #999999;
	font-size: 14px;
	font-weight: normal;
}
.text-input::-moz-placeholder {
	color: #999999;
	font-size: 14px;
	font-weight: normal;
}
.text-input:-moz-placeholder {
	color: #999999;
	font-size: 14px;
	font-weight: normal;
}
.text-input:-ms-input-placeholder {
	color: #999999;
	font-size: 14px;
	font-weight: normal;
}
:focus::-webkit-input-placeholder {
	color: transparent;
}
:focus::-moz-placeholder {
	color: transparent;
}
:focus:-moz-placeholder {
	color: transparent;
}
:focus:-ms-input-placeholder {
	color: transparent;
}
.page-header .container {
	position: relative;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.slider-control-radio {
	display: none;
}
.site-container {
	min-width: 1240px;
	background-repeat: no-repeat;
	background-position: top center;
	transition: background-image 0.5s ease, background-color 0.5s ease;
}
.site-container::before,
.site-container::after {
	content: "";

	visibility: hidden;
}

.site-container::before {
	background-image: url("../img/slider-image2.png");
}

.site-container::after {
	background-image: url("../img/slider-image3.png");
}
.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 27px;
	position: relative;
}
.main-navigation {
	min-height: 65px;
	width: 75%;
	/*outline: red solid 1px;*/
	float: left;
}
.logo {
	/*outline: blue solid 1px;*/
	max-width: 165px;
	float: left;
	padding-top: 10px;
}
.main-menu {
	/*outline: white solid 1px;*/
	width: 70%;
	float: left;
	margin: 0;
	margin-top: 22px;
	padding: 0;
	font-size: 0;
}
.main-menu li {
	display: inline-block;
	vertical-align: top;
	position: relative;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
	padding-bottom: 15px;
}
.main-menu a {
	color: #ffffff;
	display: block;
	padding: 8px 15px 10px 17px;
	text-decoration: none;
	position: relative;
}
.main-menu a:hover {
	color: #333333;
	background-color: #f7f6f3;
	border-radius: 20px;
}
.main-menu a:active {
	color: #333333;
	background-color: rgba(248, 247, 244, 0.988);
	border-radius: 20px;
	box-shadow: inset 0px 2px 1px 0px #696969;
}
.main-menu a:hover .link-undeline {
	border: none;
}
.main-menu a:active .link-undeline {
	border: none;
}
.main-menu .current {
	background-color: #d07058;
	border-radius: 20px;
	text-decoration: none;
}
.catalog-menu:hover .submenu-catalog {
	display: block;
}
.submenu-catalog {
	position: absolute;
	display: none;
	left: 1px;
	top: 44px;
	width: 145px;
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: #f8f7f4;
	border-radius: 5px;
	z-index: 5;
	overflow: hidden;
}
.submenu-catalog li {
	width: 100%;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	padding: 0;
}
.submenu-catalog li:first-child {
	font-weight: 700;
}
.submenu-catalog li:first-child::after {
	content: "";
	display: block;
	border-bottom: 1px solid #d1d0ce;
	margin-right: 6px;
	margin-left: 6px;
}
.submenu-catalog a {
	color: #323232;
	text-decoration: none;
}
.submenu-catalog a:hover {
	background-color: #fbded7;
	border-radius: 0;
}
.submenu-catalog a:active {
	background-color: #f6b5a5;
	border-radius: 0;
	box-shadow: none;
}
.submenu-catalog .current {
	background-color: #d07058;
	border-radius: 0;
}
.submenu-catalog .current:active {
	background-color: #d07058;
	border-radius: 0;
}
.user-block {
	width: 25%;
	float: right;
	margin-top: 22px;
}
.user-block-item {
	padding-bottom: 15px;
	float: right;
}
.user-block-item>a {
	color: #ffffff;
	text-decoration: none;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
	display: block;
	background-color: #9db1a5;
	border-radius: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-left: 10px;
} 
.user-block-item>a:hover {
	background-color: #f7f6f3;
	color: #333333;
}
.user-block-item>a:active {
	background-color: #f7f6f3;
	color: #333333;
	box-shadow: inset 0px 2px 1px 0px #696969;
}
.search-block {
	position: relative;
	/*outline: 1px solid magenta;*/
	width: 20%;
}
.search {
	display: block;
	height: 32px;
	padding-left: 16px;
	padding-right: 16px;
	max-width: 32px;
	float: right;
	cursor: pointer;
}
.search::after {
	content: "";
	display: block;
	width: 17px;
	height: 17px;
	background-position: -36px -5px;
	background-image: url("../img/user-block-sprite.png");
	position: absolute;
	right: 8px;
	top: 8px;
	z-index: 10;
}
.search-block:hover .search::after {
	background-position: -36px -5px;
	background-image: url("../img/user-block-hover-sprite.png");
	position: absolute;
	right: 8px;
	top: 8px;
	z-index: 10;
}
.search-block:hover .search-hover {
	display: block;
}
.search-hover {
	display: none;
	background: #f8f7f4;
	border-radius: 5px;
	width: 342px;
	height: 85px;
	padding: 20px 17px;
	position: absolute;
	z-index: 5;
	right:0;
	top: 37px;
}
.search-hover input {
	width: 310px;
	height: 44px;
}
.sign-in-block {
	position: relative;
}
.sign-in {
	display: block;
	min-width: 92px;
	padding-left: 45px;
	padding-right: 14px;
}
.sign-in::after {
	content: " ";
	display: block;
	width: 21px;
	height: 19px;
	background-position: -36px -32px;
	background-image: url("../img/user-block-sprite.png");
	position: absolute;
	left: 27px;
	top: 6px;
	z-index: 10;
}
.sign-in-block:hover .sign-in::after {
	background-position: -36px -32px;
	background-image: url("../img/user-block-hover-sprite.png");
	position: absolute;
	left: 27px;
	top: 5px;
	z-index: 10;
}
.sign-in-block:hover .sign-in-hover {
	display: block;
}
.sign-in-hover{
	display: none;
	background: #f8f7f4;
	border-radius: 5px;
	width: 277px;
	height: 216px;
	padding: 20px;
	position: absolute;
	z-index: 5;
	right: 0;
	top: 37px;
}
.sign-in-hover input {
	width: 240px;
	height: 44px;
	border: 1px solid #999999;
	border-radius: 5px;
	margin-bottom: 20px;
	padding-left: 14px;
}
.sign-in-hover .buttons {
	float: left;
}
.sign-in-links {
	float: right;
}
.sign-in-links a {
	display: block;
	color: #323232;
	font-size: 13px;
	line-height: 24px;
	margin: 0;
	margin-top: -2px;
	padding: 0;
}
.cart-block {
	position: relative;
}
.cart {
	display: block;
	min-width: 116px;
	padding-left: 45px;
	padding-right: 14px;
}
.cart-empty>a:hover, .cart-empty>a:active {
	color: #ffffff;
	background-color: #9db1a5;
}
.cart-empty>a:active {
	box-shadow: none;
}
.cart-empty::after {
	content: " ";
	display: block;
	width: 21px;
	height: 19px;
	background-position: -5px -5px;
	background-image: url("../img/user-block-sprite.png");
	position: absolute;
	left: 27px;
	top: 6px;
	z-index: 10;
}
.cart-empty:hover .cart-hover  {
	display: none;
}
.cart-full>a {
	background-color: #f7f6f3;
	color: #333333;
}
.cart-full::after {
	content: " ";
	display: block;
	width: 21px;
	height: 19px;
	background-position: -5px -5px;
	background-image: url("../img/user-block-hover-sprite.png");
	position: absolute;
	left: 27px;
	top: 5px;
	z-index: 10;
}
.cart-full:hover .cart-hover {
	display: block;
}
.cart-hover{
	display: none;
	background: #f8f7f4;
	border-radius: 5px;
	width: 540px;
	min-height: 243px;
	padding: 20px 15px 17px 17px;
	position: absolute;
	z-index: 5;
	right: 0;
	top: 37px;
}
.cart-hover .buttons {
	min-width: 170px;
	height: 46px;
	float: right;
	text-decoration: none;
	margin:0;
	padding: 10px 15px;
}
.cart-item {
	margin-bottom: 20px;
}
.cart-item .close {
	display: block;
	float: left;
	width: 11px;
	height: 11px;
	text-decoration: none;
	font-size: 0;
	background-image: url("../img/cart-item-delete.png");
	background-repeat: no-repeat;
	margin-right: 14px;
	margin-top: 9px;
}
.cart-item-image {
	float: left;
}
.cart-item-text-line {
	float: left;
	padding-top: 7px;
}
.cart-item-text {
	display: block;
	float: left;
	color: #323232;
	font-size: 13px;
	line-height: 16px;
	padding-left: 14px;
	padding-right: 15px;
}
.cart-item-name {
	max-width: 245px;
}
.cart-item-price {
	color: #99999;
	padding-left: 0px;
	margin-left: -13px;
}
.cart-total {
	display: block;
	width: 100%;
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;
	text-align: right;
}
.cart-total::before {
	content: "";
	display: block;
	border-top: 1px solid #cacac7;
	margin-bottom: 12px;
}
.contacts-block {
	position: absolute;
	z-index: 3;
	right: 27px;
	text-align: right;
}
.contacts-block .schedule{
	color: #ffffff;
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	padding:0;
	margin: 0;
}
.contacts-block .phone{
	color: #ffffff;
	font-size: 22px;
	line-height: 26px;
	font-weight: 700;
	text-decoration: none;
	padding:0;
}
.slider {
	text-align: center;
	color: #ffffff;
	margin-bottom: 40px;
	padding-top: 318px;
	position: relative;
}
.slider .buttons {
	width: 280px;
	display: block;
	margin: 0 auto;
	color: #ffffff;
	font-size: 32px;
	line-height: 44px;
	font-weight: 700;
	border-radius: 40px;
	text-align: center;
}
.slide {
	display: none;
}
.slide-title {
	width: 700px;
	font-size: 60px;
	line-height: 60.35px;
	font-weight: 700;
	margin: 0 auto;
	margin-bottom: 30px;
}
.slider-controls {
	position: absolute;
	bottom: 25px;
	left: 2px;
	z-index: 20;
	font-size: 0;
}
.slider-controls label {
	display: inline-block;
	width: 21px;
	height: 21px;
	margin-right: 8px;
	vertical-align: top;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}
.slider-controls label:hover {
	background-color: #b2c1b7;
}
.slider-controls label:active {
	background-color: #ffffff;
}
#btn-1:checked ~ .site-container {
	background-color: #849d8f;
	background-image: url("../img/slider-image1.png");
}

#btn-2:checked ~ .site-container{
	background-color: #8996a6;
	background-image: url("../img/slider-image2.png");
}

#btn-3:checked ~ .site-container {
	background-color: #9d8b84;
	background-image: url("../img/slider-image3.png");
}
#btn-1:checked ~ .site-container #slide1,
#btn-2:checked ~ .site-container #slide2,
#btn-3:checked ~ .site-container #slide3 {
	display: block;
}
#btn-1:checked ~ .site-container label[for="btn-1"],
#btn-2:checked ~ .site-container label[for="btn-2"],
#btn-3:checked ~ .site-container label[for="btn-3"] {
	background-color: #ffffff;
}
.banners {
	/*outline: 1px solid red;*/
	margin-bottom: 10px;
}
.banners h2 {
	margin: 0;
	margin-bottom: 15px;
	padding: 0;
	color: #ffffff;
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
}
.banners p {
	margin: 0;
	color: #ffffff;
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
}
.banners .buttons {
	border-radius: 30px;
	float: right;
	margin-right: 0;
	margin-top: 5px;
	display: block;
	height: 47px;	
}
.banner-left .buttons {
	min-width: 166;
}
.banner-right .buttons {
	min-width: 190;
}
.banners .banners-text {
	min-height: 82px;
}
.banner-left {
	min-height: 230px;
	width: 560px;
	float: left;
	padding: 17px 15px 17px 20px;
	background-color: #6a1832;
	background-image: url("../img/banner-left.jpg");
	border-radius: 16px;
	position: relative;
}
.banner-right {
	min-height: 230px;
	width: 560px;
	float: right;
	padding: 17px 20px;
	background-color: #4f2c1f;
	background-image: url("../img/banner-right.jpg");
	border-radius: 16px;
	position: relative;
}
.bestsellers {
	margin-bottom: 28px;
	margin-left: -13px;
	margin-right: -16px;
}
.bestseller::before {
	content:"";
	width: 61px;
	height: 61px;
	background-image: url("../img/hit.png");
	position: absolute;
	top: 5px;
	left: 13px;
	z-index: 1;
}
.item-image {
	width: 267px;
	height: 267px;
	margin: auto;
	margin-bottom: 13px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
}
.item-image img {
	position: absolute;
	top: 1px;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 267px;
	height: 267px;
}
.about-us {
	margin-bottom: 40px;	
	padding: 24px 20px 12px 20px;
	background-color: white;
	background-image: url("../img/waffle-pattern.jpg");
	background-repeat: repeat;
	border-radius: 16px;
}
.about-us-title {
	color: #323232;
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
}
.feature-item {
	/*outline: 1px solid green;*/
	width: 540px;
	float: left;
	padding-left: 60px;
	padding-top: 12px;
	padding-bottom: 10px;
	position: relative;
}
.feature-item-icon::before{
	content: "";
	width: 49px;
	height: 49px;
	background-image: url("../img/feature-item-sprite.png");
	background-repeat: no-repeat;
	position: absolute;
	left: 0px;
	top: -3px;
}
.icon1::before {
	background-position: -5px -5px;
}
.icon2::before {
	background-position: -5px -64px;
}
.icon3::before {
	background-position: -64px -5px;
}
.icon4::before {
	background-position: -63px -64px;
}
.feature-item:nth-child(2n+1){
	margin-right: 24px;
}
.feature-item-text {
	color: #323232;
	font-size: 16px;
	line-height: 22px;
	margin:0;
}
.inner-container {
	margin-bottom: 40px;
}
.blogpost {
	min-height: 220px;
	width: 560px;
	float: left;
	padding: 22px 20px;
	background-color: #ffffff;
	background-image: url("../img/blogpost-background.jpg");
	border-radius: 16px;
}
.blogpost h3 {
	color: #323232;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	margin: 0;
	margin-bottom: 6px;
}
.blogpost-title {
	color: #323232;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	display: block;
	width: 60%;
}
.blogpost-title:hover, .blogpost-title:active {
	color: #e84d37;
}
.newsletter {
	min-height: 220px;
	width: 560px;
	float: right;
	background-color: white;
	background-image: url("../img/newsletter-background.png");
	background-repeat: repeat;
	border-radius: 16px;
	position: relative;
	padding: 5px 5px 5px 6px;
}
.newsletter .wrapper {
	width: 549px;
	min-height: 210px;
	background-color: #ffffff;
	border-radius: 16px;
	padding: 30px 20px;
}
.newsletter p {
	margin: 0;
	padding: 0;
	margin-bottom: 38px;
	color: #5a5a5a;
	font-size: 16px;
	line-height: 22px;
}
.newsletter-form .input-container {
	width: 368px;	
	float: left;
}
.newsletter-form input {
	height: 44px;
	width: 368px;
}
.newsletter-form .buttons {
	padding-left: 16px;
	padding-right: 16px;
	float: right;
}
.map-block {
	width: 100%;
}
.map {
	height: 430px;
	background-image: url("../img/map-static.png");
	background-repeat: no-repeat;
	background-position: center;
}
.map-block-contacts {
	width: 303px;
	height: 307px;
	padding: 28px 25px 30px 27px;
	position: absolute;
	top: -367px;
	left: 870px;
	background-color: #f7f6f3;
	border-radius: 10px;
	overflow: hidden;
}
.map-block-contacts span {
	display: block;
	float: left;
	padding: 0;
	margin: 0;
}
.map-block-contacts a {
	display: block;
	float: left;
	padding: 0;
	margin: 0;
}
.map-block-contacts .contacts-text {
	color: #323232;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 2px;
}
.map-block-contacts .contacts-adress {
	color: #323232;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	margin-bottom: 18px;
}
.map-block-contacts .contacts-phone {
	color: #323232;
	font-size: 18px;
	line-height: 22px;
	font-weight: 700;
	text-decoration: none;
	margin-bottom: 5px;
}
.map-block .buttons {
	display: block;
	float: right;
	text-align: center;
	padding: 10px 27px;
	margin-top: 18px;
}

@keyframes move {
	0%   {
		transform: translateY(-5%);
	}

	100% {
		transform: translateY(0);
	}
}
.popup-overlay {
	position: fixed;
	z-index: 50;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.3);
	display: none;
}
.popup-feedback {
	position: fixed;
	z-index: 60;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 478px;
	height: 443px;
	padding: 16px 24px 24px 26px;
	background-color: #f8f7f4;
	border-radius: 10px;
}
.popup-feedback h2 {
	color: #323232;
	font-size: 24px;
	line-height: 28px;
	font-weight: 700;
	margin: 0;
	margin-bottom: 20px;
}
.popup-feedback input {
	width: 267px;
	height: 44px;
	margin-bottom: 20px;
}
.popup-feedback textarea {
	width: 428px;
	height: 155px;
	margin-bottom: 20px;
}
.popup-feedback .buttons {
	display: block;
	float: right;
	width: 138px;
}
.popup-close {
	content:"";
	position: absolute;
	right: 8px;
	top: 8px;
	width: 18px;
	height: 17px;
	font-size: 0;
	border: none;
	background-color: transparent;
	background-image: url("../img/popup-close.png");
	background-repeat: no-repeat;
	cursor: pointer;
}
.modal-content-show {
	display: block;
	animation: move 0.3s;
}
.breadcrumbs {
	padding-top: 23px;
}
.breadcrumbs a {
	color: #ffffff;
	font-size: 14px;
	line-height: 16px;
	margin: 0;
	padding: 0;
	padding-right: 5px;
}
.breadcrumbs span {
	color: #ffffff;
	font-size: 14px;
	line-height: 16px;
	margin: 0;
	padding: 0;
	padding-right: 5px;
}
.catalog-title {
	color: #ffffff;
	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
	margin:0;
	padding-top: 5px;
	padding-left: 2px;
}
.sorting{
	margin-top: 25px;
}
.catalog-sorting-form {
	color: #ffffff;	
}
.catalog-sorting-form legend {
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}
.catalog-sorting-form label {
	font-size: 16px;
	line-height: 18px;
}
.catalog-sorting-form select {
	height: 37px;
	min-width: 194px;
	border-radius: 30px;
	background-color: #a9bab0;
	background-image: url("../img/select-arrow.png");
	background-repeat: no-repeat;
	background-position: 92% center;
	padding-left: 15px;
	padding-right: 15px;
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
}
.catalog-sorting-form select::-ms-expand {
	display: none;
}
.catalog-sorting-form select:hover, .catalog-sorting-form select:active {
	background-color: #ffffff;
	background-image: url("../img/select-arrow-hover.png");
	color: #323232;
	font-weight: 500;
}
.catalog-sorting-form select:focus {
	outline: none;
}
.catalog-sorting-form option {
	background-color: #ffffff;
	color: #323232;
	font-size: 14px;
	line-height: 16px;
	padding-left: 22px;
}
.fieldset-sorting{
	width: 195px;
	float: left;
	margin-right: 10px;
	border: none;
	padding-left: 0px;
	padding-right: 0px;
}
.fieldset-sorting legend {
	padding-left: 16px;
}
.sorting-input-container {
	min-height: 37px;
	border-radius: 30px;
	background-color: #a9bab0;
	padding-left: 13px;
	padding-top: 7px;
	padding-right: 15px;
}
.fieldset-price{
	width: 220px;
	float: left;
	margin-right: 13px;
	border: none;
	padding-left: 0px;
	padding-right: 0px;
}
.fieldset-price span {
	color: #ffffff;
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}
.fieldset-price input {
	font-size: 14px;
	line-height: 16px;
}
.fieldset-price legend {
	padding-left: 16px;
}
.fieldset-price .sorting-input-container {
	width: 218px;
	padding: 16px 15px;
}
.choosing-price input {
	width: 26px;
	height: 15px;
	border: none;
	background-color: transparent;
	color: #ffffff;
	cursor: pointer;
}
.choosing-price input:focus, .choosing-price input::-moz-placeholder, .choosing-price input:-moz-placeholder {
	outline: none;
}
.choosing-price input:-ms-input-placeholder {
	outline: none;	
}
.choosing-price input::-webkit-input-placeholder {
	color: #ffffff;
}
.choosing-price input:focus::-webkit-input-placeholder {
	color: transparent;
}
.choosing-price input:focus::-moz-placeholder {
	color: transparent;
}
.choosing-price input:focus:-moz-placeholder {
	color: transparent;
}
.choosing-price input:focus:-ms-input-placeholder {
	color: transparent;
}
.price-range {
	width: 188px;
	height: 4px;
	background-color: #d1dad3;
	position: relative;
}
.range-start-control {
	content: "";
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background-color: #f8f7f4;
	position: absolute;
	top:-9px;
	left: 19px;
	cursor: pointer;
}
.range-end-control {
	content: "";
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background-color: #f8f7f4;
	position: absolute;
	top:-9px;
	right: 49px;
	cursor: pointer;
}
.range-start-control:hover {
	width: 24px;
	height: 24px;
	top:-10px;
	left: 18px;
}
.range-end-control:hover {
	width: 24px;
	height: 24px;
	top:-10px;
	right: 48px;
}
.price-range-choosen {
	width: 78px;
	height: 4px;
	background-color: #f8f7f4;
	position: absolute;
	top: 0;
	left: 41px;
}
.fieldset-fat {
	min-width: 420px;
	float: left;
	border: none;
	padding-left: 0px;
}
.fieldset-fat legend {
	padding-left: 12px;
}
.radio-button {
	vertical-align: top;
	width: 17px;
	height: 17px;
	margin: 0 3px 0 0;
}
.radio-button + label {
	cursor: pointer;
}
.radio-button:not(checked) {
	position: absolute;
	opacity: 0;
}
.radio-button:not(checked) + label {
	position: relative;
	padding: 0 0 0 34px;
	margin-right: 10px;
}
.radio-button:not(checked) + label::before {
	content: "";
	position: absolute;
	top: 0px;
	left: 3px;
	width: 22px;
	height: 22px;
	border: 2px solid #f8f7f4;
	border-radius: 50%;
	background: transparent;
}
.radio-button:not(checked) + label::after {
	content: "";
	position: absolute;
	top: 5px;
	left: 8px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #f8f7f4;
	opacity: 0;
	transition: all .2s;
}
.radio-button:checked + label::after {
	opacity: 1;
}
.radio-button:disabled + label::before {
	border: 2px solid #b2c1b7;
}
.radio-button:disabled + label::after {
	background: #b2c1b7;
}
.radio-button + label:hover::before {
	border: 3px solid #f8f7f4;
}
.radio-button:disabled + label:hover::before {
	border: 2px solid #b2c1b7;
}
.fieldset-fat .sorting-input-container {
	padding-right: 0;
}
.fieldset-filler{
	width: 703px;
	float: left;
	margin-right: 0;
	border: none;
	padding-left: 0;
}
.fieldset-filler legend {
	padding-left: 12px;
}
.fieldset-filler .sorting-input-container{
	padding-top: 11px;
	padding-right: 0;
	width: 702px;
}
.checkbox {
	vertical-align: top;
	margin: 0 2px 0 0;
	width: 17px;
	height: 17px;
	cursor: pointer;
}
.checkbox + label {
	cursor: pointer;
}
.checkbox:not(checked) {
	position: absolute;
	opacity: 0;
}
.checkbox:not(checked) + label {
	position: relative;
	padding: 0 0 0 35px;
	margin-right: 15px;
}
.fieldset-filler label:last-child {
	margin-right: 0px;
}
.checkbox:not(checked) + label::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0px;
	width: 20px;
	height: 20px;
	border-radius: 4px;
	border: 1px solid #f8f7f4;
	background: transparent;
}
.checkbox:checked + label::after {
	content: "";
	position: absolute;
	top: 4px;
	left: 4px;
	width: 12px;
	height: 12px;
	background-image: url("../img/checkbox-checked.png");
	background-repeat: no-repeat;
	background-position: center center;
}
.checkbox + label:hover::before {
	border: 2px solid #f8f7f4;
}
.checkbox:disabled + label::before {
	border: 1px solid #b5c4bc;
}
.checkbox:disabled + label::after {
	background-image: url("../img/checkbox-disabled.png");
}
.sorting-button{
	height: 36px;
	min-width: 145px;
	float: left;
	margin-top: 26px;
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	background-color: transparent;
	border: 2px solid #fcfcfc;
	border-radius: 30px;
	cursor: pointer;
}
.sorting-button:hover {
	color: #323232;
	background-color: #fbfcfb;
	border: none;
}
.sorting-button:active {
	outline: none;
	background-color: #eaeaea;
	box-shadow: 0px 2px 1px 0px rgba(105, 105, 105, 1) inset; 
}
.catalog {
	margin-bottom: 65px;
	margin-left: -13px;
	margin-right: -16px;
}
.catalog-item {
	width: 293px;
	float: left;
	margin-right: 1px;
	margin-top: 25px;
	margin-bottom: 5px;
	position: relative;
	text-align: center;
	padding: 5px 13px 5px 13px;
	position: relative;
}
.catalog-item:nth-child(4n){
	margin-right: 0px;
}
.catalog-item:hover {
	background-color: rgba(167, 184, 173, 0.5);
	border-radius: 5px 5px 0 0;
}
.catalog-item .buttons {
	display: none;
	z-index: 10;
}
.catalog-item:hover .buttons {
	display: block;
	height: 44px;
	min-width: 200px;
	padding: 9px 18px;
}
.catalog-item:hover .catalog-button-container {
	background-color: rgba(167, 184, 173, 0.5);
}
.catalog-item .price {
	color: #ffffff;
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
	display: block;
	position: absolute;
	top: 165px;
}
.catalog-item .price-for {
	color: #ffffff;
	font-size: 30px;
	line-height: 45px;
	font-weight: 700;
}
.catalog-item-name {
	margin-right: 6px;
	margin-left: 6px;
	margin-bottom: 0;
	margin-top: 0;
}
.catalog-item-name a {
	color: #ffffff;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	text-decoration: none;
	border-bottom: 1px solid #b0c0b7;
	padding-bottom: 1px;
}
.catalog-item-name a:hover, .catalog-item-name a:active {
	color: #ffbc9e;
	border-bottom: 1px solid #ffbc9e;
}
.catalog-item:nth-child(4n){
	margin-right: 0px;
}
.catalog-item-image {
	width: 267px;
	height: 267px;
	margin: auto;
	margin-bottom: 13px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	z-index: 0;
}
.catalog-item-image img {
	position: absolute;
	top: 1px;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 267px;
	height: 267px;
	z-index: 0;
}
.catalog-button-container {
	width: 100%;
	height: 77px;
	position: absolute;
	left: 0;
	bottom: -77px;
	z-index: 10;
	border-radius: 0px 0px 5px 5px;
	padding: 10px 43px 20px;
}
.catalog-paginator{
	min-height: 34px;
	float: right;
	margin-right: -10px;
	margin-bottom: 20px;
}
.catalog-paginator a {
	display: block;
	float: left;
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	padding: 4px 9px;
	text-decoration: none;
	margin-right: 2px;
}
.catalog-paginator a:hover {
	color: #353535;
	border-radius: 50%;
	background-color: #9db1a5;
}
.catalog-paginator a:active {
	background-color: #ffffff;
}
.catalog-paginator .prev {
	display: block;
	float: left;
	width: 27px;
	height: 26px;
	font-size: 0;
	background-image: url("../img/catalog-pagimator-prev-active.png");
	background-repeat: no-repeat;
	background-position: center center;
}
.catalog-paginator .prev-inactive {
	background-image: url("../img/catalog-pagimator-prev-inactive.png");
}
.catalog-paginator .prev-inactive:hover {
	background-color: transparent;
	cursor: default;
}
.catalog-paginator .current{
	color: #353535;
	border-radius: 50%;
	background-color: #ffffff;
}
.catalog-paginator .next {
	display: block;
	float: left;
	width: 27px;
	height: 26px;
	font-size: 0;
	background-image: url("../img/catalog-pagimator-next-active.png");
	background-repeat: no-repeat;
	background-position: center center;
}
.catalog-paginator .next-inactive {
	background-image: url("../img/catalog-pagimator-next-inactive.png");
}
.catalog-paginator .next-inactive:hover {
	background-color: transparent;
	cursor: default;
}
.page-footer {
	margin-top: 20px;
}
.social-links {
	min-height: 83px;
	width: 267px;
	float:left;
	padding-top: 18px;
	margin-right: 26px;
}
.social-button {
	float: left;
	width: 38px;
	height: 38px;
	font-size: 0;
	margin-right: 12px;
	background-image: url("../img/social-networks-icons-sprite.png");
	background-repeat: no-repeat;
	border-radius: 50%;
}
.social-button:hover {
	background-image: url("../img/social-networks-icons-hover-sprite.png");
}
.social-button:active {
	box-shadow: 0px 2px 1px 0px rgba(136, 136, 136, 1) inset;
}
.twitter {
	background-position: -5px -53px;
}
.twitter:hover {
	background-position: -5px -53px;
}
.instagram {
	background-position: -53px -5px;
}
.instagram:hover {
	background-position: -53px -5px;
}
.facebook {
	background-position: -5px -5px;
}
.facebook:hover {
	background-position: -5px -5px;
}
.vkontakte {
	background-position: -53px -53px;
}
.vkontakte:hover {
	background-position: -53px -53px;
}
.footer-navigation{
	min-height: 83px;
	width: 560px;
	float:left;
	padding-top: 16px;
}
.footer-navigation-item:hover, .footer-navigation-item:active {
	color: #ffbc9e;
}
.footer-navigation-item {
	float: left;
	width: 49%;
	color: #ffffff;
	font-size: 13px;
	line-height: 18px;
	text-decoration: none;
	margin: 0;
}
.footer-navigation-item:hover, .footer-navigation-item:active {
	color: #ffbc9e;
}
.footer-navigation-item:hover .link-undeline {
	border-bottom: 1px solid #ffbc9e;
}
.footer-navigation-item:active .link-undeline {
	border-bottom: 1px solid #ffbc9e;
}
.footer-navigation-item:nth-child(2n+1) {
	padding-left: 130px;
}
.icon {
	font-weight: 700;
	position: relative;
}
.icon::before {
	content: "";
	width: 15px;
	height: 13px;
	background-image: url("../img/heart.png");
	position: absolute;
	left: 109px;
	top: 0;
}
.copyright {
	min-height: 83px;
	width: 267px;
	float:right;
	margin-left: 26px;
	padding-left: 80px;
}
.copyright p, .copyright a {
	color: #fefefe;
	font-size: 12px;
	line-height: 18px;
}
.copyright p {
	margin: 0;
	padding-top: 5px;
}
.copyright a {
	text-decoration: none;
	border-bottom: 1px solid #b0c0b7;
	padding-bottom: 1px;
}
.copyright a:hover, .copyright a:active {
	color: #ffbc9e;
	border-bottom: 1px solid #ffbc9e;
}
